appdirs==1.4.4
argon2-cffi==20.1.0
attrs==19.3.0
backcall==0.2.0
bleach==3.1.5
boto==2.49.0
boto3==1.14.36
botocore==1.17.36
cedr @ git+https://github.com/Georgetown-IR-Lab/cedr.git@640b363ce4b6297a5cddcdbfff4c643e37cbbccd
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
chest==0.2.3
click==7.1.2
crcmod==1.7
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.1.0
distro-info==0.21
docutils==0.15.2
entrypoints==0.3
filelock==3.0.12
gensim==3.8.3
HeapDict==1.0.1
hopcroftkarp==1.2.5
idna==2.10
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
jupyterlab==2.2.2
jupyterlab-server==1.2.0
MarkupSafe==1.1.1
matchpy==0.5.2
mistune==0.8.4
multiset==2.1.1
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.1
numpy==1.19.1
packaging==20.4
pandas==1.1.0
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycparser==2.20
pyemd==0.5.1
Pygments==2.6.1
pyjnius==1.3.0
pyparsing==2.4.7
pyrsistent==0.16.0
PyTerrierBERT @ git+https://github.com/cmacdonald/pyterrier_bert.git@352db8023a4c96d347afd25f3a6e812b8b1b077b
python-apt==1.8.4.1
python-dateutil==2.8.1
python-terrier @ git+https://github.com/terrier-org/pyterrier.git@c1d551fbebeb69a628593d33b4b1cc181da057a4
pytools==2018.5.2
pytorch-pretrained-bert==0.6.2
pytrec-eval==0.4
pytz==2020.1
pyzmq==19.0.2
regex==2020.7.14
requests==2.24.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.2
Send2Trash==1.5.0
sentencepiece==0.1.91
six==1.15.0
sklearn==0.0
smart-open==2.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tokenizers==0.8.1rc1
torch==1.4.0
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
transformers==3.0.2
unattended-upgrades==0.1
urllib3==1.26.5
wcwidth==0.2.5
webencodings==0.5.1
wget==3.2
widgetsnbextension==3.5.1
zipp==3.1.0
